<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width,initial-scale=1" name="<%= :viewport %>"/>
    <title>P2PChat visualizer</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <div class="container">
      <div class="controls">
        <button class="btn" id="prev" type="submit" disabled>PREV STEP</button>
        <button class="btn" id="next" type="submit">NEXT STEP</button>
      </div>
      <br />
      <canvas id="canvas" width="800" height="500">
      </canvas>

    </div>
    <script src="js/visualizer.js"></script>
  </body>
</html>
